<!-- -*- xml -*-

     This launch file launches the camera_aravis node to start the flir a35 camera(s).

  -->
<launch>	
  <node ns="FLIR" pkg="camera_aravis" type="camnode" name="left" output="screen" args="Goofy">
  </node>
  <node ns="FLIR" pkg="camera_aravis" type="camnode" name="right" output="screen" args="Max">
  </node>

	<rosparam ns="FLIR" file="$(find camera_aravis)/config/configuration.yaml" command="load"/> 
</launch>
